<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

    <title>Admin panel</title>

</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg bd-navbar navbar-dark bg-dark mb-3">
        <div class="collapse navbar-collapse d-flex">
            <div class="roles p-2 flex-grow-1" th:inline="text">
                <strong th:text="${userByEmail.email}">email</strong>
                with roles:
                <th:block th:each="role: ${userByEmail.roles}">
                    <span th:if="${role.name} == 'ROLE_ADMIN'">ADMIN</span>
                    <span th:if="${role.name} == 'ROLE_USER'">USER</span>
                </th:block>
            </div>
            <div class="">
                <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
                    <button class="btn btn-link btn-logout" type="submit">Logout</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="d-flex">
        <div class="sidebar d-flex flex-column col-2">
            <ul class="list-group" th:each="role: ${userByEmail.roles}">
                <li class="list-group-item active" aria-current="true" th:if="${role.name} == 'ROLE_ADMIN'">Admin
                </li>
                <li class="list-group-item" th:if="${role.name} == 'ROLE_USER'">
                    <a href="/user">User</a>
                </li>
            </ul>

<!--            <div class="row justify-content">-->
<!--                <ul class="nav flex-column nav-pills">-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link active" data-toggle="tab" href="/admin">Admin</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" data-toggle="tab" href="/user">User</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
        </div>
        <div class="inform-panel col">
            <h1>Admin panel</h1>
            <!--            <nav aria-label="Admin panel pagination">-->
            <!--                <ul class="pagination mb-0">-->
            <!--                    <li class="page-item active" aria-current="page">-->
            <!--                        <a class="page-link" href="#">Users Table <span class="sr-only">(current)</span></a>-->
            <!--                    </li>-->
            <!--                    <li class="page-item"><a class="page-link" href="#">New User</a></li>-->
            <!--                </ul>-->
            <!--            </nav>-->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="users-tab" data-toggle="tab" href="#users" role="tab"
                       aria-controls="users" aria-selected="true">Users Table</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="newuser-tab" data-toggle="tab" href="#newuser" role="tab"
                       aria-controls="newuser" aria-selected="false">New User</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
                    <table class="table-1 table">

                        <th class="table-name">All users</th>

                        <tbody>
                        <tr>
                            <td>
                                <table class="table-2 table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="" th:each="user : ${users}">
                                        <td th:text="${user.getId()}"></td>
                                        <td th:text="${user.getFirstName()}"></td>
                                        <td th:text="${user.getLastName()}"></td>
                                        <td th:text="${user.getAge()}"></td>
                                        <td th:text="${user.getEmail()}"></td>
                                        <td>
                                            <th:block th:each="role: ${user.roles}">
                                                <span th:if="${role.name} == 'ROLE_ADMIN'">ADMIN</span>
                                                <span th:if="${role.name} == 'ROLE_USER'">USER</span>
                                            </th:block>
                                        </td>
                                        <td>
                                            <!-- Кнопка-триггер модального окна EDIT-->
                                            <button type="button" class="btn btn-info" data-toggle="modal"
                                                    data-target="#editModal" th:attrappend="data-target=${user.id}">Edit</button>

                                            <!-- Модальное окно EDIT-->
                                            <div class="modal fade" id="editModal" th:attrappend="id=${user.id}"
                                                 tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="container col-8">
                                                                <form id="editForm" th:method="POST"
                                                                      th:action="@{/edit/{id}(id=${user.id})}"
                                                                      th:object="${user}" class="text-center"
                                                                      th:attrappend="id=${user.id}">
                                                                    <label class="form-label font-weight-bold" for="id">ID</label>
                                                                    <input th:name="idEdit" th:type="text"
                                                                           class="form-control mb-3" id="idEdit"
                                                                           th:value="${user.getId()}"
                                                                           placeholder="ID"
                                                                           disabled>

                                                                    <label class="form-label font-weight-bold">First name</label>
                                                                    <input th:value="*{firstName}" type="text"
                                                                           class="form-control mb-3" name="firstName">

                                                                    <label class="form-label font-weight-bold">Last name</label>
                                                                    <input th:value="*{lastName}" type="text"
                                                                           class="form-control mb-3" name="lastName">

                                                                    <label class="form-label font-weight-bold">Age</label>
                                                                    <input th:value="*{age}" type="number"
                                                                           class="form-control mb-3" name="age">

                                                                    <label class="form-label font-weight-bold">Email</label>
                                                                    <input th:value="*{email}" type="email"
                                                                           class="form-control mb-3" name="email">

                                                                    <label class="form-label font-weight-bold">Password</label>
                                                                    <input type="password"
                                                                           class="form-control mb-3" name="password">

<!--                                                                    <label for="editRoles" class="form-label font-weight-bold">Role</label>-->
<!--                                                                    <select multiple id="editRoles"-->
<!--                                                                            class="custom-select mb-3"-->
<!--                                                                            size="2">-->
<!--                                                                        <option value="ROLE_ADMIN">ADMIN</option>-->
<!--                                                                        <option value="ROLE_USER">USER</option>-->
<!--                                                                    </select>-->
                                                                    <label class="form-check form-check-inline font-weight-bold">Roles:
                                                                        <input class="form-check-input mx-1" type="checkbox" name="roles"
                                                                               th:each="role : ${allRoles}"
                                                                               th:text="${role.getNameWithoutPrefix()}"
                                                                               th:value="${role.id}"
                                                                        />
                                                                    </label>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <button type="submit" form="editForm" th:attrappend="form=${user.id}" class="btn btn-primary">Edit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </td>
                                        <td>
                                            <!-- Кнопка-триггер модального окна DELETE-->
                                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                                    data-target="#deleteModal" th:attrappend="data-target=${user.id}">Delete</button>

                                            <!-- Модальное окно DELETE-->
                                            <div class="modal fade" id="deleteModal" th:attrappend="id=${user.id}"
                                                 tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="container col-8">
                                                                <form id="deleteForm" th:method="DELETE"
                                                                      th:action="@{/delete/{id}(id=${user.id})}"
                                                                      th:object="${user}" class="text-center"
                                                                      th:attrappend="id=${user.id}">
                                                                    <label class="form-label font-weight-bold" for="id">ID</label>
                                                                    <input th:name="id" th:type="text"
                                                                           class="form-control mb-3" id="id"
                                                                           th:value="${user.getId()}"
                                                                           placeholder="ID"
                                                                           disabled>

                                                                    <label class="form-label font-weight-bold">First name</label>
                                                                    <input th:value="*{firstName}" type="text"
                                                                           class="form-control mb-3" name="firstName"
                                                                           disabled>

                                                                    <label class="form-label font-weight-bold">Last name</label>
                                                                    <input th:value="*{lastName}" type="text"
                                                                           class="form-control mb-3" name="lastName"
                                                                           disabled>

                                                                    <label class="form-label font-weight-bold">Age</label>
                                                                    <input th:value="*{age}" type="number"
                                                                           class="form-control mb-3" name="age"
                                                                           disabled>

                                                                    <label class="form-label font-weight-bold">Email</label>
                                                                    <input th:value="*{email}" type="email"
                                                                           class="form-control mb-3" name="email"
                                                                           disabled>

                                                                    <label class="form-label font-weight-bold">Role</label>
                                                                    <select id="deleteRoles"
                                                                            class="custom-select mb-3"
                                                                            disabled size="2">
                                                                        <option th:each="role: ${user.roles}"
                                                                                th:value="${role.id}"
                                                                                th:text="${role.getNameWithoutPrefix()}">
                                                                        </option>
                                                                    </select>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <button type="submit" form="deleteForm" th:attrappend="form=${user.id}" class="btn btn-danger">Delete</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="newuser" role="tabpanel" aria-labelledby="newuser-tab">
                    <table class="table-1 table">
                        <th class="table-name">Add new user</th>
                        <tbody>
                        <tr>
                            <td>
                                <form class="newuser row" method="POST" th:action="@{/save}" th:object="${addUser}">
                                    <div class="form-group col-md-12">
                                        <label for="inputFirstName">First name</label>
                                        <input type="text" class="form-control" th:field="${addUser.firstName}"
                                               id="inputFirstName">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="inputLastName">Last name</label>
                                        <input type="text" class="form-control" th:field="${addUser.lastName}"
                                               id="inputLastName">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="inputAge">Age</label>
                                        <input type="number" class="form-control" th:field="${addUser.age}"
                                               id="inputAge">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="inputEmail">Email address</label>
                                        <input type="email" class="form-control" th:field="${addUser.email}"
                                               id="inputEmail" aria-describedby="emailHelp">
                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email
                                            with anyone else.</small>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="inputPassword">Password</label>
                                        <input type="password" class="form-control" th:field="${addUser.password}"
                                               id="inputPassword">
                                    </div>
                                    <div class="form-group col-md-12">
<!--                                        <label for="inputRole">Role</label>-->
<!--                                        <select class="form-select col-md-12" id="inputRole"-->
<!--                                                required>-->
<!--                                            <option th:each="role: ${allRoles}"-->
<!--                                                    th:text="${role.getNameWithoutPrefix()}"-->
<!--                                                    th:value="${role.getId()}"-->
<!--                                                    th:field="*{roles}">Role-->
<!--                                            </option>-->
<!--                                        </select>-->
                                        <label>Roles:
                                            <input class="mx-1" type="checkbox" name="roles"
                                                   th:each="role : ${allRoles}"
                                                   th:text="${role.getNameWithoutPrefix()}"
                                                   th:value="${role.id}"
                                                   th:field="*{roles}"
                                            />
                                        </label>
                                    </div>

                                    <button type="submit" class="btn btn-success col-md-12">Add new user</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>
</body>
</html>