<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

    <title>Admin panel</title>

</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg bd-navbar navbar-dark bg-dark mb-3" id="navbar"></nav>
    <div class="d-flex">
        <div class="sidebar d-flex flex-column col-2" id="sidebar">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-admin-tab" data-toggle="pill" href="#v-pills-admin" role="tab"
                   aria-controls="v-pills-admin" aria-selected="true">Admin</a>
                <a class="nav-link" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" role="tab"
                   aria-controls="v-pills-user" aria-selected="false">User</a>
            </div>
        </div>

        <div class="inform-panel col tab-content" id="v-pills-tabContent">

            <!-- Admin panel -->
            <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel" aria-labelledby="v-pills-admin-tab">
                <h1>Admin panel</h1>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="users-tab" data-toggle="tab" href="#users" role="tab"
                            aria-controls="users" aria-selected="true">Users Table</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="newuser-tab" data-toggle="tab" href="#newuser" role="tab"
                            aria-controls="newuser" aria-selected="false">New User</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
                        <table class="table-1 table">

                            <td class="table-name">All users</td>

                            <tbody>
                            <tr>
                                <td>
                                    <table class="table-2 table table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id="users-tbody"></tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Добавление нового пользователя -->
                    <div class="tab-pane fade" id="newuser" role="tabpanel" aria-labelledby="newuser-tab">
                        <table class="table-1 table">
                            <th class="table-name">Add new user</th>
                            <tbody>
                            <tr>
                                <td>
                                    <form id="formNewUser" class="newuser row">
                                        <div class="form-group col-md-12">
                                            <label for="inputFirstName">First name</label>
                                            <input type="text" name="firstName" class="form-control" id="inputFirstName"/>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="inputLastName">Last name</label>
                                            <input type="text" name="lastName" class="form-control" id="inputLastName"/>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="inputAge">Age</label>
                                            <input type="number" name="age" class="form-control" id="inputAge"/>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="inputEmail">Email address</label>
                                            <input type="email" name="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"/>
                                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="inputPassword">Password</label>
                                            <input type="password" name="password" class="form-control" id="inputPassword"/>
                                        </div>
                                        <div class="form-group text-center col-md-12">
                                            <label class="container-fluid" for="rolesNew">Role</label>
                                            <select id="rolesNew" class="form-select col-md-10"
                                                    name="roles" multiple="" size="2">
                                                <option value="1">ADMIN</option>
                                                <option value="2">USER</option>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-success col-md-12">Add new user</button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- User information-page -->
            <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                <div class="tab-content" id="№">
                    <h1>User information-page</h1>

                    <table class="table-1 table">
                        <th class="table-name">About user</th>
                        <tbody>
                        <tr>
                            <td>
                                <table class="table-2 table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                    </tr>
                                    </thead>
                                    <tbody id="user-tbody"></tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <!-- Модальное окно EDIT-->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="editForm" class="text-center">
                    <div class="modal-body">
                        <div class="container col-8">
                            <label class="form-label font-weight-bold">ID</label>
                            <input type="number" name="id" class="form-control mb-3" disabled/>

                            <label class="form-label font-weight-bold">First name</label>
                            <input type="text" class="form-control mb-3" name="firstName"/>

                            <label class="form-label font-weight-bold">Last name</label>
                            <input type="text" class="form-control mb-3" name="lastName"/>

                            <label class="form-label font-weight-bold">Age</label>
                            <input type="number" class="form-control mb-3" name="age"/>

                            <label class="form-label font-weight-bold">Email</label>
                            <input type="email" class="form-control mb-3" name="email"/>

                            <label class="form-label font-weight-bold">Password</label>
                            <input type="password" class="form-control mb-3" name="password"/>

                            <label class="form-label text-center col-md-12" for="rolesEdit">Role</label>
                            <select id="rolesEdit" class="form-select col-md-12"
                                    name="roles" multiple="" size="2">
                                <option value="1">ADMIN</option>
                                <option value="2">USER</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="editFormCloseBtn" data-dismiss="modal">Close</button>
                        <button type="submit" form="editForm" class="btn btn-primary">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Модальное окно DELETE-->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="deleteForm" class="text-center">
                    <div class="modal-body">
                        <div class="container col-8">
                            <label class="form-label font-weight-bold">ID</label>
                            <input type="text" name="id" class="form-control mb-3" disabled/>

                            <label class="form-label font-weight-bold">First name</label>
                            <input type="text" name="firstName" class="form-control mb-3" disabled/>

                            <label class="form-label font-weight-bold">Last name</label>
                            <input type="text" name="lastName" class="form-control mb-3" disabled/>

                            <label class="form-label font-weight-bold">Age</label>
                            <input type="number" name="age" class="form-control mb-3" disabled/>

                            <label class="form-label font-weight-bold">Email</label>
                            <input type="email" name="email" class="form-control mb-3" disabled/>

                            <label class="form-label text-center col-md-12" for="rolesDelete">Role</label>
                                <select id="rolesDelete" class="form-select col-md-12"
                                        name="roles" multiple="" size="2" disabled>
                                    <option value="1">ADMIN</option>
                                    <option value="2">USER</option>
                                </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="deleteFormCloseBtn" data-dismiss="modal">Close</button>
                        <button type="submit" form="deleteForm" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>