<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<h2>Edit user</h2>
<table th:style="'border: 1px solid black; border-collapse: collapse; margin: 2px;'">
    <thead>
    <tr th:style="'font-weight: bold; text-align: center;'">
        <td th:style="'border: 1px solid black; padding: 5px;'">ID</td>
        <td th:style="'border: 1px solid black; padding: 5px;'">First Name</td>
        <td th:style="'border: 1px solid black; padding: 5px;'">Last Name</td>
        <td th:style="'border: 1px solid black; padding: 5px;'">Age</td>
        <td th:style="'border: 1px solid black; padding: 5px;'">Email</td>
        <td th:style="'border: 1px solid black; padding: 5px;'">Role</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:style="'border: 1px solid black; padding: 5px;'" th:text="${user.id}"></td>
        <td th:style="'border: 1px solid black; padding: 5px;'" th:text="${user.firstName}"></td>
        <td th:style="'border: 1px solid black; padding: 5px;'" th:text="${user.lastName}"></td>
        <td th:style="'border: 1px solid black; padding: 5px;'" th:text="${user.age}"></td>
        <td th:style="'border: 1px solid black; padding: 5px;'" th:text="${user.email}"></td>
        <td th:style="'border: 1px solid black; padding: 5px;'">
            <th:block th:each="role: ${user.roles}">
                <span th:if="${role.name} == 'ROLE_ADMIN'">ADMIN</span>
                <span th:if="${role.name} == 'ROLE_USER'">USER</span>
            </th:block>
        </td>
</table>
<br>
<form th:method="PATCH" th:action="@{/admin/edit}" th:object="${user}">
    <input type="hidden" th:field="${user.id}" id="id">

    <label for="name">First Name</label>
    <input type="text" th:field="${user.firstName}" id="name">

    <label for="lastname">Last Name</label>
    <input type="text" th:field="${user.lastName}" id="lastname">

    <label for="age">Age</label>
    <input type="number" th:field="${user.age}" id="age">

    <label for="email">Email</label>
    <input type="email" th:field="${user.email}" id="email">

    <label for="password">Password</label>
    <input type="password" th:field="${user.password}" id="password">

    <p>
        <label>Roles:
            <input type="checkbox" name="roles"
                   th:each="role : ${allRoles}"
                   th:text="${role.getNameWithoutPrefix()}"
                   th:value="${role.id}"
                   th:field="*{roles}"
            />
        </label>
    </p>

    <input type="submit" title="" value="Edit User">
</form>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>