<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new user</title>
</head>
<body>
<h2>Add new user</h2>
<form method="POST" th:action="@{save}" th:object="${user}">
    <label for="name">First Name</label>
    <input type="text" th:field="${user.firstName}" id="name">

    <label for="lastname">Last Name</label>
    <input type="text" th:field="${user.lastName}" id="lastname">

    <label for="age">Age</label>
    <input type="number" th:field="${user.age}" id="age">

    <label for="email">Email</label>
    <input type="email" th:field="${user.email}" id="email">

    <label for="password">Password</label>
    <input type="password" th:field="${user.password}" id="password">

    <p>
        <label>Roles:
            <input type="checkbox" name="roles"
                   th:each="role : ${roles}"
                   th:text="${role.name.substring(5)}"
                   th:value="${role.id}"
                   th:field="*{roles}"
            />
        </label>
    </p>


    <input type="submit" title="" value="Add new User">
</form>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>